<mat-card class="mat-elevation-z8">
  <div class="title">
    <h1>Produkte</h1>
  </div>
  <div>
    <button mat-raised-button (click)="createProduct()" class="demo-button">
      Produkt hinzufügen
    </button>
  </div>
  <div>
    <mat-form-field appearance="standard" class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="id">
        <th id="idHeader" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortiere nach Artikelnummer">Artikelnummer</th>
        <td mat-cell *matCellDef="let product">{{product.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th id="nameHeader" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortiere nach Name">Name</th>
        <td mat-cell *matCellDef="let product">{{product.name}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th id="priceHeader" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sortiere nach Preis">Preis (€)</th>
        <td mat-cell *matCellDef="let product">{{parseFloat(product.price)}}</td>
      </ng-container>

      <ng-container matColumnDef="producer.name">
        <th id="producerHeader" mat-header-cell *matHeaderCellDef mat-sort-header>Produzent</th>
        <td mat-cell *matCellDef="let product">{{product.producer.name}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th id="actionsHeader" mat-header-cell *matHeaderCellDef style="width: 50px"></th>
        <td mat-cell *matCellDef="let product">
          <mat-icon (click)="updateProduct(product)">create</mat-icon>
          <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Keine Ergebnisse nach Filterung -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Die Suche nach "{{input.value}}" hat keine Ergebnisse ergeben.</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</mat-card>
