<h2>Aktualisierung des Bestandes von {{stock.product.name}} (Produzent: {{stock.product.producer.name}})</h2>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Bestand</mat-label>
    <input matInput formControlName="amount" type="number" placeholder="0" name="Bestand">
    <span matSuffix> Stück</span>
    <div *ngIf="amount?.touched && amount?.invalid" style="margin-top: 10px">
      Bitte geben Sie einen Bestand ein.
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Warngrenze</mat-label>
    <input matInput formControlName="thresholdAmount" type="number" placeholder="0" name="Warngrenze">
    <span matSuffix> Stück</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Regal</mat-label>
    <input matInput formControlName="shelf" type="number" placeholder="0" name="Regal">
    <div *ngIf="shelf?.touched && shelf?.invalid" style="margin-top: 10px">
      Bitte geben Sie eine Regalnummer ein.
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput formControlName="floor" type="number" placeholder="0" name="Stock">
    <div *ngIf="floor?.touched && floor?.invalid" style="margin-top: 10px">
      Bitte geben Sie einen Regalstock ein.
    </div>
  </mat-form-field>

  <div fxLayout>
    <button mat-button (click)="submit()" fxFlex="50%">Speichern</button>
    <button mat-button (click)="cancel()" fxFlex="50%">Abbrechen</button>
  </div>
</form>
