<h2>Anlage eines Produkts</h2>
<form>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="product.name" name="name">
  </mat-form-field>
</form>
<mat-form-field>
  <mat-label>Preis</mat-label>
  <input matInput [(ngModel)]="product.price" type="number" placeholder="0.00" name="preis">
  <span matPrefix>€&nbsp;</span>
</mat-form-field>

<mat-form-field>
  <mat-label>Produzent</mat-label>
  <mat-select [(ngModel)]="product.producer">
    <mat-option *ngFor="let producer of input" [value]="producer.id">
      {{producer.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div fxLayout>
  <button mat-button (click)="submit()" fxFlex="50%">Speichern</button>
  <button mat-button (click)="cancel()" fxFlex="50%">Abbrechen</button>
</div>
